body,h1,h2,h3,h4,h5 {
    font-family: "Monserat", sans-serif;
}
body {
    font-size:16px;
}
.w3-half img{
    margin-bottom:-6px;
    margin-top:16px;
    opacity:0.8;
    cursor:pointer;
}
.w3-half img:hover{
    opacity:1;
}

.w3-round {
    width:50px;
    border:5px solid red;
}

.w3-bar-block {
    margin-left: 70px;
    margin-top: 40px;

}

iframe {
    margin-left: 80px;
}

#logo {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 25px;
    
}

#scroll {
    padding-top: 60px;
    font-size: 60px;
    font-weight: 500;
    color: black;
}


.wrap {
    position: relative;
    border: 2px solid red;
    height: 300px;
}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 5rem;
    color: rgb(172, 11, 11);
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 10%;
    /* margin-top: 50%; */
    width: 0;
    height: 10px;
    border-style: solid;
}

#arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent rgb(180, 14, 14) transparent transparent;

}

#arrow-right {
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-right: 30px;
}

.copy {
text-align: center;
}